<div class="card">
    <div class="card-header">

        <div class="d-flex justify-content-between">
            <div>
                <strong>Tela Principal</strong>
            </div>

            <div>
                <button class="btn btn-primary"
                [routerLink]="['/tarefas/cadastrar']">
                <i class="fa fa-plus"></i>
                    Empresas
                </button>
                <button class="btn btn-primary"
                [routerLink]="['/tarefas/cadastrar']">
                <i class="fa fa-plus"></i>
                    Fornecedores
                </button>
            </div>
        </div>
    </div>
</div>
