<div class="card">
    <div class="card-header">
        {{ pageTitle}}
    </div>
    <div class="card-body">

        <form novalidate (ngSubmit)=save() [formGroup]="supplierForm">
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">Razão Social</label>
                <div class="col-md-7">
                    <input type="text" id="nome" name="nome" class="form-control"
                        placeholder="Informe o nome da empresa" formControlName="nome">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">CNPJ/CPF</label>
                <div class="col-md-7">
                    <input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="Informe CNPJ"
                        mask="000.000.000-00||00.000.000/0000-00" formControlName="cnpj">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">E-MAIL</label>
                <div class="col-md-7">
                    <input type="email" id="email" name="email" class="form-control" placeholder="email@email.com.br"
                       formControlName="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">CEP</label>
                <div class="col-md-7">
                    <input type="text" id="cep" name="cep" class="form-control" placeholder="Informe CEP"
                        mask="00.000.000-00" formControlName="cep">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">Dt. Nascimento</label>
                <div class="col-md-7">
                    <input type="date" id="birth" name="birth" class="form-control" 
                       formControlName="cep">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">RG</label>
                <div class="col-md-7">
                    <input type="text" id="rg" name="rg" class="form-control" placeholder="Informe RG"
                        formControlName="rg">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">Tipo Cadastro</label>
               <div class="col-md-7">
                <select class="form-select" aria-label="Selecione uma opção de cadastro">
                    <option selected>Tipo de pessoa</option>
                    <option value="1">JURIDICA</option>
                    <option value="2">FISICA</option>
                  </select>
               </div>
            </div>
            <div class="form-group row mb-2 mt-5">
                <div class="offset-md-2 col-md-6">
                    <button type="submit" class="btn btn-primary mr-2"
                        [title]="supplierForm.valid ? 'Salvar' : 'Desabilitado até que os dados estejam validos'"
                        [disabled]="!supplierForm.valid">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-outline-secondary mr-2" title="Cancelar"
                        [routerLink]="['/supplier']">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-outline-danger mr-2" *ngIf="pageTitle != 'Adicionar Fornecedor'"
                        title="Excluir esta tarefa" (click)="deleteSupplier()">
                        Excluir
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}

</div>