<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <div class="container">
            <a class="navbar-brand" [routerLink]='["/"]'>
                <i class="fa fa-check">Gerenciamento de Fornecedores</i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toogle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
        </div>
    </nav>
</header>

